
<div class="header-top primary-bg">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                    <div class="single-header-top">
                        <div class="social">
                            <a href=""><i class="fa fa-facebook"></i></a>
                            <a href=""><i class="fa fa-pinterest"></i></a>
                            <a href=""><i class="fa fa-twitter"></i></a>
                            <a href=""><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-9 col-md-8 col-sm-7">
                    <div class="single-header-top last">
                        <a href="tel:9679067076">call us : 9679067076</a>
                    </div>
                </div>
            </div>    
        </div>
    </div>

    <div class="navigation-wrap bg-light start-header start-style">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="navbar navbar-expand-md navbar-light">
          
            <a class="navbar-brand">
              <img src="assets/images/school.png" height="40" class="d-inline-block align-top" alt=""> &nbsp;&nbsp;SchoolName</a>  
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto py-4 py-md-0">
                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 active">
                  <a class="nav-link "   routerLinkActive="active-link"data-toggle="dropdown" routerLink="/home" role="button" aria-haspopup="true">Home</a>
                </li>
                <!-- <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                  <a class="nav-link" routerLink="/our-services" routerLinkActive="active-link">Contact</a>
                </li> -->
                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                  <a class="nav-link"  routerLink="/contact-list" routerLinkActive="active-link">Contact us</a>
                </li>
               <!--  <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                <a class="nav-link" data-toggle="dropdown" routerLink="/gallery" routerLinkActive="active-link">Gallery</a>
                
                </li> -->
                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                 <a class="nav-link" routerLink="/contact-create" routerLinkActive="active-link">
                   Dashboard
                 </a>
                </li>
               
              </ul>
            </div>
            
          </nav>    
        </div>
      </div>
    </div>
  </div>
  

<a href="https://themeforest.net/user/ig_design/portfolio"      class="link-to-portfolio" target=”_blank”></a>


